* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0E1C36;
}

.home-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

#home-img {
    width: 90%;
}

.btn {
    height: 20px;
    width: 150px;
    background-color:#BA5C12;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 0em;
    padding: 15px;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 0px 8px 0px #72370b, 0px 8px 20px #FFEDE1;
    transition: all 0.2 ease;
    margin-left: 8px;
}
.btn:active {
    box-shadow: none;
    top:57%;
}

.quiz-container {
    display: flex;
    /* height: 100%; */
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    
}

.progress-bar {
    flex: 1 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar img {
    width: 50%;
}

#outer-progress-bar {
    background-color:white;
    border-radius: 13px;
    width: 50%;
    /* (height of inner div) / 2 + padding */
    padding: 5px;
    margin-top: 5px;
}
  
#outer-progress-bar>div {
    background-color: lightblue;
    width: 12.5%;
    height: 20px;
    border-radius: 10px;
}

.questions-container {
    flex: 1 0 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 2em;
    height: 2em;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: transparent;
    margin-top: 20px;
}

.question-img-box {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.question-img-box img {
    /* width:50%; */
    height: 30vh;
    border-radius: 10px;
}

.question-box {
    color: #fff;
    text-align: center;
    font-size: 0.6em;
    width: 80%;
}

.option-box {
    width: 80%;
}

.option {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 20px;    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255);;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.8em;
    margin-top: 20px;
    min-width: 100%;
}

.option:hover {
    background-color:white;
    color: #444;
}

.result-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    /* justify-content: center; */
    align-content: center;
}

.header-container {
    display: flex;
    margin-top: 20px;
}

.header-container h1 {
    flex: 1 0 20%;
    color: white;
    font-size: 1.5em;
}

.header-container button {
    margin-top: 15px;
}

#results-btn {
    display: none;
}
.penguin-container{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.name-container {
    color: black;
    width: 100%;
    font-size: 1.5em;
    background-color:#AFCBFF;
    text-align: center;
    padding: 10px;
    letter-spacing: 3px;
    font-weight: 600;
}

.traits-container {
    display: flex;
    width: 100%;
}

.btn.result {
    height: 15px;
    width: 110px;
    font-size: 0.8em;
}

.traits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:white;
    width: 50%;
}

.trait-box {
    background-color: transparent;
    padding: 10px;
    margin: 10px 30px;
    border: 1.5px solid black;
    text-align: center;
    border-radius: 50px;
    font-size: 0.5em;
    /* max-width: 300px; */
}

.result-image {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    background-color: #FFEDE1;
}

.result-image img {
    /* width:100%; */
    height: 30vh;
}

.compatibility-section {
    display: flex;
    justify-content: space-around;
    background-color: #AFCBFF;
    width: 100%;
}

.compatible, .incompatible {
    font-size: 1.5vw;
    padding: 10px;
}


.type img {
    padding: 5px;
    width: 100%;
} 