* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./images/night_sky.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#home-item-img {
    flex: 1 0 60%;
    display: flex;
    align-items: center;
    padding: 10%;
}

#home-item-btn {
    flex: 1 0 40%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    height: 20px;
    width: 150px;
    background-color:darksalmon;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 0em;
    padding: 15px;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 8px 0px indianred, 0px 8px 20px #ffffff;
    transition: all 0.2 ease;
}
.btn:active {
    box-shadow: none;
    top:57%;
}

.quiz-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    flex: 1 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar img {
    width: 50%;
}

#outer-progress-bar {
    background-color:white;
    border-radius: 13px;
    width: 50%;
    /* (height of inner div) / 2 + padding */
    padding: 5px;
    margin-top: 5px;
}
  
#outer-progress-bar>div {
    background-color: lightblue;
    width: 12.5%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
}

.questions-container {
    flex: 1 0 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: transparent;
}

.question-box {
    color: #fff;
    text-align: center;
    max-width: 600px;
}

.option {
    width: 600px;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 20px;    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255);;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 20px;
}

.option:hover {
    background-color:white;
    color: #444;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.traits {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trait-box {
    background-color: #444;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.result-image img {
    height: 300px
}

.compatibility-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.compatible, .incompatible {
    text-align: center;
}

.type {
    margin: 10px;
}

.type img {
    width: 100px;
    height: 100px;
}